.navbar {
  width: 800px;
  margin: 0 auto;
}

.game-frame {
  border: 1px solid black;
  margin: 0 auto;
  width: 800px;
  height: 800px;
  /* padding: 10px;*/
}

.game-frame canvas {
  border: 1px solid red;
}
