.navbar {
  width: 800px;
  margin: 10px auto;
  display: flex;
}

.navbar button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
}

.game-frame {
  border: 1px solid black;
  margin: 0 auto;
  width: 800px;
  height: 800px;
  /* padding: 10px;*/
}

.game-frame canvas {
  border: 1px solid red;
}

.home {
  border: 1px solid black;
  margin: 0 auto;
  width: 800px;
  height: 800px;
}

.login-page {
  margin: 0 auto;
  width: 800px;
  height: 800px;
}

.login-page h2 {
  text-align: center;
}

.login-page input {
  margin: 0 auto;
  display: block;
}
